

.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.sec-bg{
    background-color: #FFF8F3;

}
.header{
    background-image: url("./images/developer.png"),url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position:top left,bottom right ;
}
.color-r{
    color: #FD6E0A;
}
.dark2{
    color: #474747;
    
}
.btn-pr{
    background-color: #FD6E0A;
    color: #FFFFFF;
    width: 150px;
    height: 64px;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;      
}
.btn-prd{
    width: 200px;
    height: 64px;
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;

}
.btn-prc{
    width: 160px;
    height: 64px;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    border-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;

}
.banner-greeting{
    color: #474747;
    font-size:45px;
    font-weight: 600;

}
.banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: bold;
}
.banner-discription{
    color: #757575;
    font-size: 18px;
    font-weight: normal;
}
.banner-content{
    max-width: 580px;
}
.banner-profile-pic{
    width: 500px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}
.section-description{
    font-size: 18px;
    color: #757575;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
    

}
.nav-titile{
    font-weight: 800;
    font-size: 45px;
   
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
     align-items: center; 
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    


}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top:130px ;
    margin-bottom:30px ;
}
.item-description{
    font-weight: bold;

}
.about-items{
    display: flex;
    justify-content: space-around;

}
.about-bacg{
    background-color: #FFFFFF;
}
.text-center{
    text-align: center;
    
    
}
.text-centerp{
    text-align: center;
    width: 950px;
    height: 90px;
    font-size: 18px;
    font-weight: 400;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 50px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
